.attribution {
    position: fixed;
    width: 230px;
    bottom: 0;
    right: 0;
    padding: 2em;
    background: var(--off-white);
    background: var(--white);
    border-top-left-radius: 4rem;
    font-size: 0.7rem;
    text-align: right;
  }