.card {
    display: flex;
    flex-direction: column;

    max-width: 840px;
    width: 100%;
    padding: 3.5rem 1.4rem 2rem;

    transition: border-radius var(--transition-speed);
    background-color: var(--white);
    border-radius: 1.5rem 1.5rem 6rem 1.5rem;
}

.card-body {
    position: relative;
    display: flex;
    gap: 0.9rem;
    transition: gap var(--transition-speed);

    padding-bottom: 3.9rem;
    border-bottom: 2px solid var(--off-white);
}

.btn-primary {
    position: absolute;
    z-index: 20;
    bottom: 0;
    right: 50%;
    margin-right: -30px;
    transform: translateY(50%);

    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: var(--purple);
    cursor: pointer;
    transition: width var(--transition-speed),
                height var(--transition-speed),
                right var(--transition-speed),
                margin-right var(--transition-speed);
}

.btn-primary,
.btn-primary img {
    max-width: 40%;
}

.btn-primary:hover {
    background-color: var(--off-black);
}

.btn-primary:focus,
.btn-primary:focus-visible {
    outline: 2px solid var(--off-black);
    outline-offset: 3px;
}

.btn-primary:disabled {
    background-color: var(--light-grey);
    cursor: not-allowed;
}

.card-results {
    margin-top: 2.2rem;
}

.result {
    font-weight: var(--extra-bold);
    font-style: italic;
    font-size: min(12vw, 6.5rem);
}

.result:first-child {
    margin-top: 0.8rem;
}

.result {
    margin-top: -1.2rem;
}

.result span {
    display: inline-block;
    color: var(--purple);
    margin-right: 0.5rem;
}


@media only screen and (min-width: 800px) {
    .card {
        padding: 3.5rem 3.5rem 2rem;
        border-radius: 1.5rem 1.5rem 12.5rem 1.5rem;
    }

    .card-body {
        gap: 2rem;
        padding-bottom: 3rem;
    }

    .btn-primary {
        width: 95px;
        height: 95px;
        right: 0;
        margin-right: 0;
    }

    .btn-primary img {
        max-width: 50%;
    }

    .result:first-child {
        margin-top: -0.6rem;
    }

    .result {
        margin-top: -2.5rem;
    }

    .result span {
        margin-right: 0.8rem;
    }
}
